libnl-3.0.pc.in filter=lfs diff=lfs merge=lfs -text
libnl-cli-3.0.pc.in filter=lfs diff=lfs merge=lfs -text
libnl-genl-3.0.pc.in filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
libnl-nf-3.0.pc.in filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
libnl-xfrm-3.0.pc.in filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
etc filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
python filter=lfs diff=lfs merge=lfs -text
libnl-cli-3.sym filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
lib filter=lfs diff=lfs merge=lfs -text
libnl-genl-3.sym filter=lfs diff=lfs merge=lfs -text
libnl-nf-3.sym filter=lfs diff=lfs merge=lfs -text
libnl-xfrm-3.sym filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
ChangeLog filter=lfs diff=lfs merge=lfs -text
libnl-3.sym filter=lfs diff=lfs merge=lfs -text
libnl-idiag-3.0.pc.in filter=lfs diff=lfs merge=lfs -text
libnl-idiag-3.sym filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
m4 filter=lfs diff=lfs merge=lfs -text
man filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
libnl-route-3.0.pc.in filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
autogen.sh filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_LGPL filter=lfs diff=lfs merge=lfs -text
libnl-route-3.sym filter=lfs diff=lfs merge=lfs -text
